// About
section#about {
    .about-grid {
        display: grid;
        grid-gap: 2rem;
        @media (min-width: $grid-sm) {
            grid-template-columns: 24% 1fr;
        }
        .me-pic {
            display: block;
            max-width: 100%;
            height: auto;
            @include box-shadow(2);
            border: 2px solid $sanmarino;
        }
    }
}