// Portfolio
.portfolio-grid {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
    @media (min-width: $grid-md) {
        grid-template-columns: repeat(4, 1fr);
    }
}
.portfolio-thumbnail {
    //display: block;
    //border-radius: $border-radius-base;
    border: 1px solid $sanmarino;
    //margin-bottom: 30px;
    @include box-shadow(1);
    @include transition(box-shadow .3s ease-in-out);
    display: flex;
    flex-direction: column;
    div.client-img {
        overflow: hidden;
        position: relative;
        img {
            display: block;
            max-width: 101%;
            width: 101%;
            height: auto;
            @include transition(all .3s ease-in-out);
            //-webkit-backface-visibility: hidden;
            //-webkit-transform: translateZ(0) scale(1, 1);
        }
        .hover-img {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
        }
    }
    div.info {
        padding: 10px;
        flex: 1;
        display: flex;
        flex-direction: column;
        .client-name {
            font-size: 1rem; // 16px
            line-height: 1.3;
            color: $black;
            margin-bottom: .5rem;
            flex: 1;
        }
        .client-location {
            font-size: 0.875rem; // 14px
            color: $middle-gray;
        }
    }
    &:hover {
        @include box-shadow(2);
        div.client-img {
            .main-img {
                opacity: 0;
                visibility: hidden;
            }
            .hover-img {
                opacity: 1;
                visibility: visible;
                transform: scale(1.05);
            }
        }
    }
}
