/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.DS_Store
Thumbs.db
sftp-config.json
/public/sass/.sass-cache
**/.sass-cache/*
**.sass-cache**
.sass-cache
.sass-cache/*
/public/config.codekit