.color-swatches {
    display: grid;
    grid-gap: 30px;
    @media (min-width: $grid-md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.color-swatch {
    min-height: 100px;
    @include box_shadow(3);
    font-size: 1rem;
    padding: 15px;
    border: 5px solid #FFF;
    color: #FFF;
    background-color: #eee;
    @include swatch($apple, $deyork, $goblin, $sanmarino, $shipcove, $rhino, $red, $french-gray, $middle-gray);
}
.details {
    color: $french-gray;
}