/*@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-ultralight-webfont.eot');
    src: url('/fonts/aileron-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-ultralight-webfont.woff') format('woff'),
         url('/fonts/aileron-ultralight-webfont.ttf') format('truetype'),
         url('/fonts/aileron-ultralight-webfont.svg#Aileron') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-ultralightitalic-webfont.eot');
    src: url('/fonts/aileron-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-ultralightitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-ultralightitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-ultralightitalic-webfont.svg#Aileron') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-thin-webfont.eot');
    src: url('/fonts/aileron-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-thin-webfont.woff') format('woff'),
         url('/fonts/aileron-thin-webfont.ttf') format('truetype'),
         url('/fonts/aileron-thin-webfont.svg#aileronthin') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-thinitalic-webfont.eot');
    src: url('/fonts/aileron-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-thinitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-thinitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-thinitalic-webfont.svg#Aileron') format('svg');
    font-weight: 200;
    font-style: italic;
}*/

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-light-webfont.eot");
  src: url("/fonts/aileron-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-light-webfont.woff") format("woff"), url("/fonts/aileron-light-webfont.ttf") format("truetype"), url("/fonts/aileron-light-webfont.svg#Aileron") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-lightitalic-webfont.eot");
  src: url("/fonts/aileron-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-lightitalic-webfont.woff") format("woff"), url("/fonts/aileron-lightitalic-webfont.ttf") format("truetype"), url("/fonts/aileron-lightitalic-webfont.svg#Aileron") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-regular-webfont.eot");
  src: url("/fonts/aileron-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-regular-webfont.woff") format("woff"), url("/fonts/aileron-regular-webfont.ttf") format("truetype"), url("/fonts/aileron-regular-webfont.svg#Aileron") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-italic-webfont.eot");
  src: url("/fonts/aileron-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-italic-webfont.woff") format("woff"), url("/fonts/aileron-italic-webfont.ttf") format("truetype"), url("/fonts/aileron-italic-webfont.svg#Aileron") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-semibold-webfont.eot");
  src: url("/fonts/aileron-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-semibold-webfont.woff") format("woff"), url("/fonts/aileron-semibold-webfont.ttf") format("truetype"), url("/fonts/aileron-semibold-webfont.svg#Aileron") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-semibolditalic-webfont.eot");
  src: url("/fonts/aileron-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-semibolditalic-webfont.woff") format("woff"), url("/fonts/aileron-semibolditalic-webfont.ttf") format("truetype"), url("/fonts/aileron-semibolditalic-webfont.svg#Aileron") format("svg");
  font-weight: 500;
  font-style: italic;
}

/*@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-bold-webfont.eot');
    src: url('/fonts/aileron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-bold-webfont.woff') format('woff'),
         url('/fonts/aileron-bold-webfont.ttf') format('truetype'),
         url('/fonts/aileron-bold-webfont.svg#Aileron') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-bolditalic-webfont.eot');
    src: url('/fonts/aileron-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-bolditalic-webfont.woff') format('woff'),
         url('/fonts/aileron-bolditalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-bolditalic-webfont.svg#Aileron') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-heavy-webfont.eot');
    src: url('/fonts/aileron-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-heavy-webfont.woff') format('woff'),
         url('/fonts/aileron-heavy-webfont.ttf') format('truetype'),
         url('/fonts/aileron-heavy-webfont.svg#Aileron') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-heavyitalic-webfont.eot');
    src: url('/fonts/aileron-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-heavyitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-heavyitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-heavyitalic-webfont.svg#Aileron') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-black-webfont.eot');
    src: url('/fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-black-webfont.woff') format('woff'),
         url('/fonts/aileron-black-webfont.ttf') format('truetype'),
         url('/fonts/aileron-black-webfont.svg#Aileron') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-blackitalic-webfont.eot');
    src: url('/fonts/aileron-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-blackitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-blackitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-blackitalic-webfont.svg#Aileron') format('svg');
    font-weight: 900;
    font-style: italic;
}*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Aileron", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
  color: #252525;
  text-align: left;
  background-color: #FFF;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: #4cb848;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  a {
    -webkit-transition: none;
    transition: none;
  }
}

a:hover,
a.hover {
  color: #82cd7f;
  text-decoration: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logo .color-apple {
  fill: #4cb848;
}

.logo .color-sanmarino {
  fill: #4759a7;
}

.logo .color-none {
  fill: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1,
h1 {
  color: #4759a7;
  font-weight: 300;
  font-size: 2.8125rem;
}

h2,
.h2 {
  font-weight: 400;
  color: #358132;
  font-size: 2.25rem;
}

h3,
.h3 {
  font-weight: 400;
  font-size: 1.96875rem;
}

h4,
.h4 {
  font-size: 1.6875rem;
}

h5,
.h5 {
  font-size: 1.40625rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #4759a7;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 300;
  border: 1px solid transparent;
  background-color: #FFF;
  padding: .5rem 1rem;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:focus:not(:focus-visible),
.btn.focus:not(:focus-visible) {
  outline: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-apple {
  background-color: #4cb848;
  color: #FFF;
}

.btn-apple:hover,
.btn-apple:focus {
  background-color: #358132;
}

.btn-sanmarino {
  background-color: #4759a7;
  color: #FFF;
}

.btn-sanmarino:hover,
.btn-sanmarino:focus {
  background-color: #303c71;
}

.btn-red {
  background-color: #f86c6b;
  color: #FFF;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #f64846;
}

.btn-translucent-apple {
  border: 1px solid #FFF;
  background: none;
}

.btn-translucent-apple:hover,
.btn-translucent-apple:focus {
  background: #4cb848;
  background: rgba(76, 184, 72, 0.5);
}

.btn-translucent-sanmarino {
  border: 1px solid #FFF;
  background: none;
}

.btn-translucent-sanmarino:hover,
.btn-translucent-sanmarino:focus {
  background: #4759a7;
  background: rgba(71, 89, 167, 0.5);
}

.btn-outline-white {
  color: #FFF;
  background-color: transparent;
  background-image: none;
  border: 1px solid #FFF;
}

.btn-outline-white:hover {
  color: #252525;
  background-color: #FFF;
}

.btn-outline-white.disabled,
.btn-outline-white:disabled {
  color: #FFF;
  background-color: transparent;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid #FFF;
  padding: .5rem 1rem;
  color: #707071;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control:focus {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control::-webkit-input-placeholder {
  color: #bbbbbd;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #bbbbbd;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #bbbbbd;
  opacity: 1;
}

.form-control::placeholder {
  color: #bbbbbd;
  opacity: 1;
}

label {
  font-size: 0.875rem;
}

.form-group {
  margin-bottom: 1rem;
}

.invalid-feedback,
.valid-feedback {
  display: none;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 2px;
}

.invalid-feedback {
  color: #f86c6b;
}

.valid-feedback {
  color: #82cd7f;
}

.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .valid-feedback,
.form-control.is-valid ~ .invalid-feedback,
.form-control.is-valid ~ .valid-feedback {
  display: block;
}

.form-control.is-invalid {
  border-color: #f86c6b;
}

.form-control.is-valid {
  border-color: #82cd7f;
}

header.header {
  border-bottom: 1px solid #4759a7;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

@media (min-width: 768px) {
  header.header > .container {
    max-width: 1430px;
    margin: 0 auto;
  }
}

header.header > .container .logo-container {
  width: 100%;
  min-width: 250px;
  padding: 15px 15px 15px 0;
}

@media (min-width: 768px) {
  header.header > .container .logo-container {
    max-width: 400px;
  }
}

header.header > .container .navbar {
  width: 100%;
}

@media (min-width: 768px) {
  header.header > .container .navbar {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 500px;
  }
}

header.header > .container .navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  header.header > .container .navbar ul a {
    font-size: 1.25rem;
  }
}

footer.footer .footer-top {
  background-color: #252525;
}

footer.footer .footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

@media (min-width: 768px) {
  footer.footer .footer-top .container {
    max-width: 1430px;
    margin: 0 auto;
  }
}

footer.footer .footer-top .social-icons {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

footer.footer .footer-top .social-icons li {
  display: inline-block;
  padding: 1rem 0;
}

footer.footer .footer-top .social-icons a {
  color: #bbbbbd;
  display: block;
  margin: 2px;
}

footer.footer .footer-top .social-icons a:hover {
  color: #FFF;
}

footer.footer .footer-top .footer-contact {
  color: #bbbbbd;
  padding: 1rem 0;
  font-size: 1rem;
}

footer.footer .footer-top .footer-contact p {
  margin-bottom: 0.125rem;
  text-align: center;
}

@media (min-width: 768px) {
  footer.footer .footer-top .footer-contact p {
    text-align: right;
  }
}

footer.footer .footer-top .footer-contact a {
  color: #FFF;
  font-weight: 400;
}

footer.footer .footer-top .footer-contact a:hover {
  color: #bbbbbd;
}

footer.footer .footer-bottom {
  padding: 30px;
  text-align: center;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  footer.footer .footer-bottom {
    max-width: 1430px;
    margin: 0 auto;
  }
}

footer.footer .footer-bottom p {
  margin-bottom: 0.125rem;
}

.color-swatches {
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .color-swatches {
    grid-template-columns: repeat(3, 1fr);
  }
}

.color-swatch {
  height: 100px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  border: 5px solid #FFF;
  color: #FFF;
  background-color: #eee;
}

.color-swatch.swatch1 {
  background-color: #4cb848;
}

.color-swatch.swatch2 {
  background-color: #82cd7f;
}

.color-swatch.swatch3 {
  background-color: #358132;
}

.color-swatch.swatch4 {
  background-color: #4759a7;
}

.color-swatch.swatch5 {
  background-color: #7685c5;
}

.color-swatch.swatch6 {
  background-color: #303c71;
}

.color-swatch.swatch7 {
  background-color: #f86c6b;
}

.color-swatch.swatch8 {
  background-color: #bbbbbd;
}

.color-swatch.swatch9 {
  background-color: #707071;
}

.details {
  color: #bbbbbd;
}

body.home-style .page > .container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  body.home-style .page > .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  body.home-style .page > .container > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}

body.home-style .dark-background {
  background: url(/img/contact-container-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 1rem;
}

body.home-style .dark-background h1,
body.home-style .dark-background label {
  color: #FFF;
}

body.home-style .grid-2 {
  display: grid;
  grid-gap: 0 30px;
}

@media (min-width: 768px) {
  body.home-style .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  body.home-style .grid-2 > div {
    width: 100%;
    grid-column: span 1;
  }
}

