/*@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-ultralight-webfont.eot');
    src: url('/fonts/aileron-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-ultralight-webfont.woff') format('woff'),
         url('/fonts/aileron-ultralight-webfont.ttf') format('truetype'),
         url('/fonts/aileron-ultralight-webfont.svg#Aileron') format('svg');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-ultralightitalic-webfont.eot');
    src: url('/fonts/aileron-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-ultralightitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-ultralightitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-ultralightitalic-webfont.svg#Aileron') format('svg');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-thin-webfont.eot');
    src: url('/fonts/aileron-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-thin-webfont.woff') format('woff'),
         url('/fonts/aileron-thin-webfont.ttf') format('truetype'),
         url('/fonts/aileron-thin-webfont.svg#aileronthin') format('svg');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-thinitalic-webfont.eot');
    src: url('/fonts/aileron-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-thinitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-thinitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-thinitalic-webfont.svg#Aileron') format('svg');
    font-weight: 200;
    font-style: italic;
}*/

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-light-webfont.eot");
  src: url("/fonts/aileron-light-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-light-webfont.woff") format("woff"), url("/fonts/aileron-light-webfont.ttf") format("truetype"), url("/fonts/aileron-light-webfont.svg#Aileron") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-lightitalic-webfont.eot");
  src: url("/fonts/aileron-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-lightitalic-webfont.woff") format("woff"), url("/fonts/aileron-lightitalic-webfont.ttf") format("truetype"), url("/fonts/aileron-lightitalic-webfont.svg#Aileron") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-regular-webfont.eot");
  src: url("/fonts/aileron-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-regular-webfont.woff") format("woff"), url("/fonts/aileron-regular-webfont.ttf") format("truetype"), url("/fonts/aileron-regular-webfont.svg#Aileron") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-italic-webfont.eot");
  src: url("/fonts/aileron-italic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-italic-webfont.woff") format("woff"), url("/fonts/aileron-italic-webfont.ttf") format("truetype"), url("/fonts/aileron-italic-webfont.svg#Aileron") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-semibold-webfont.eot");
  src: url("/fonts/aileron-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-semibold-webfont.woff") format("woff"), url("/fonts/aileron-semibold-webfont.ttf") format("truetype"), url("/fonts/aileron-semibold-webfont.svg#Aileron") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron';
  src: url("/fonts/aileron-semibolditalic-webfont.eot");
  src: url("/fonts/aileron-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/aileron-semibolditalic-webfont.woff") format("woff"), url("/fonts/aileron-semibolditalic-webfont.ttf") format("truetype"), url("/fonts/aileron-semibolditalic-webfont.svg#Aileron") format("svg");
  font-weight: 500;
  font-style: italic;
}

/*@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-bold-webfont.eot');
    src: url('/fonts/aileron-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-bold-webfont.woff') format('woff'),
         url('/fonts/aileron-bold-webfont.ttf') format('truetype'),
         url('/fonts/aileron-bold-webfont.svg#Aileron') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-bolditalic-webfont.eot');
    src: url('/fonts/aileron-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-bolditalic-webfont.woff') format('woff'),
         url('/fonts/aileron-bolditalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-bolditalic-webfont.svg#Aileron') format('svg');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-heavy-webfont.eot');
    src: url('/fonts/aileron-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-heavy-webfont.woff') format('woff'),
         url('/fonts/aileron-heavy-webfont.ttf') format('truetype'),
         url('/fonts/aileron-heavy-webfont.svg#Aileron') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-heavyitalic-webfont.eot');
    src: url('/fonts/aileron-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-heavyitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-heavyitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-heavyitalic-webfont.svg#Aileron') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-black-webfont.eot');
    src: url('/fonts/aileron-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-black-webfont.woff') format('woff'),
         url('/fonts/aileron-black-webfont.ttf') format('truetype'),
         url('/fonts/aileron-black-webfont.svg#Aileron') format('svg');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Aileron';
    src: url('/fonts/aileron-blackitalic-webfont.eot');
    src: url('/fonts/aileron-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/aileron-blackitalic-webfont.woff') format('woff'),
         url('/fonts/aileron-blackitalic-webfont.ttf') format('truetype'),
         url('/fonts/aileron-blackitalic-webfont.svg#Aileron') format('svg');
    font-weight: 900;
    font-style: italic;
}*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Aileron", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
  color: #252525;
  text-align: left;
  background-color: #FFF;
  padding-top: 45px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: #4cb848;
  text-decoration: none;
  background-color: transparent;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  a {
    -webkit-transition: none;
    transition: none;
  }
}

a:hover,
a.hover {
  color: #82cd7f;
  text-decoration: none;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logo .color-apple {
  fill: #4cb848;
}

.logo .color-sanmarino {
  fill: #4759a7;
}

.logo .color-none {
  fill: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

.h1,
h1 {
  color: #4759a7;
  font-weight: 300;
  font-size: 2.8125rem;
}

h2,
.h2 {
  font-weight: 400;
  color: #358132;
  font-size: 2.25rem;
}

h3,
.h3 {
  font-weight: 400;
  font-size: 1.96875rem;
}

h4,
.h4 {
  font-size: 1.6875rem;
}

h5,
.h5 {
  font-size: 1.40625rem;
}

h6,
.h6 {
  font-size: 1.125rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #4759a7;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.testimonial {
  margin-bottom: 0;
}

.testimonial strong {
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  line-height: 1.5rem;
  padding: 0 2px;
  color: #4cb848;
}

.testimonial + .testimonial-author {
  margin-bottom: 2rem;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 300;
  border: 1px solid transparent;
  background-color: #FFF;
  padding: .5rem 1rem;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    -webkit-transition: none;
    transition: none;
  }
}

.btn:focus:not(:focus-visible),
.btn.focus:not(:focus-visible) {
  outline: none;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn-apple,
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  background-color: #4cb848;
  color: #FFF;
}

.btn-apple:hover,
.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover,
.btn-apple:focus,
.page-item:first-child .page-link:focus,
.page-item:last-child .page-link:focus {
  background-color: #358132;
  color: #FFF;
}

.btn-sanmarino,
.page-link {
  background-color: #4759a7;
  color: #FFF;
}

.btn-sanmarino:hover,
.page-link:hover,
.btn-sanmarino:focus,
.page-link:focus {
  background-color: #303c71;
  color: #FFF;
}

.btn-red {
  background-color: #f86c6b;
  color: #FFF;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #f64846;
  color: #FFF;
}

.btn-translucent-apple {
  border: 1px solid #FFF;
  background: none;
}

.btn-translucent-apple:hover,
.btn-translucent-apple:focus {
  background: #4cb848;
  background: rgba(76, 184, 72, 0.5);
}

.btn-translucent-sanmarino {
  border: 1px solid #FFF;
  background: none;
}

.btn-translucent-sanmarino:hover,
.btn-translucent-sanmarino:focus {
  background: #4759a7;
  background: rgba(71, 89, 167, 0.5);
}

.btn-outline-white {
  color: #FFF;
  background-color: transparent;
  background-image: none;
  border: 1px solid #FFF;
}

.btn-outline-white:hover {
  color: #252525;
  background-color: #FFF;
}

.btn-outline-white.disabled,
.btn-outline-white:disabled {
  color: #FFF;
  background-color: transparent;
}

.fade-enter-active,
.fade-leave-active {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .fade-enter-active,
  .fade-leave-active {
    -webkit-transition: none;
    transition: none;
  }
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

.slide-fade-leave-active {
  -webkit-transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}

.transition-delay {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 2rem auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 400px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-link {
  position: relative;
  display: block;
  padding: .5rem 1rem;
  margin-left: -1px;
  border: 1px solid transparent;
  text-align: center;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  font-size: 0.9375rem;
}

@media screen and (prefers-reduced-motion: reduce) {
  .page-link {
    -webkit-transition: none;
    transition: none;
  }
}

@media (min-width: 768px) {
  .page-link {
    font-size: 1.125rem;
  }
}

.page-link > svg {
  height: 10px;
  width: auto;
}

@media (min-width: 768px) {
  .page-link > svg {
    height: 12px;
  }
}

.page-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-item:first-child .page-link {
  margin-left: 0;
}

.page-item.disabled .page-link {
  color: #e2e2e3;
  pointer-events: none;
  cursor: auto;
  background-color: #bbbbbd;
}

.alert {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: .5rem 1rem;
  border: 5px solid #FFF;
  color: #FFF;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

.alert-success {
  background-color: #4cb848;
}

.alert-error {
  background-color: #f86c6b;
}

.form-control {
  display: block;
  width: 100%;
  border: 1px solid #FFF;
  padding: .5rem 1rem;
  color: #707071;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-control:focus {
  outline: 0;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .form-control:focus {
    -webkit-transition: none;
    transition: none;
  }
}

.form-control::-webkit-input-placeholder {
  color: #bbbbbd;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #bbbbbd;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #bbbbbd;
  opacity: 1;
}

.form-control::placeholder {
  color: #bbbbbd;
  opacity: 1;
}

label {
  font-size: 0.875rem;
}

.form-group {
  margin-bottom: 0.5rem;
}

.invalid-feedback,
.valid-feedback {
  display: none;
  width: 100%;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 2px;
}

.invalid-feedback {
  color: #f86c6b;
}

.valid-feedback {
  color: #82cd7f;
}

.form-control.is-invalid ~ .invalid-feedback,
.form-control.is-invalid ~ .valid-feedback,
.form-control.is-valid ~ .invalid-feedback,
.form-control.is-valid ~ .valid-feedback {
  display: block;
}

.form-control.is-invalid {
  border-color: #f86c6b;
}

.form-control.is-valid {
  border-color: #82cd7f;
}

header.header {
  position: fixed;
  width: 100%;
  background: #FFF;
  top: 0;
  left: 0;
  z-index: 20;
  border-bottom: 1px solid #4759a7;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

header.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

@media (min-width: 576px) {
  header.header > .container {
    padding: 0 30px;
  }
}

@media (min-width: 768px) {
  header.header > .container {
    max-width: 1430px;
    margin: 0 auto;
  }
}

header.header > .container .logo-container {
  min-width: 250px;
  max-width: 400px;
  padding: 15px 0;
  margin: 0 auto;
}

@media (min-width: 992px) {
  header.header > .container .logo-container {
    margin: 0;
  }
}

header.header > .container .navbar {
  width: 100%;
}

@media (min-width: 992px) {
  header.header > .container .navbar {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 500px;
  }
}

header.header > .container .navbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.header > .container .navbar ul a {
  display: block;
  padding: .5rem 0.0625rem;
}

@media (min-width: 768px) {
  header.header > .container .navbar ul a {
    font-size: 1.25rem;
  }
}

footer.footer .footer-top {
  background-color: #252525;
}

footer.footer .footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

@media (min-width: 768px) {
  footer.footer .footer-top .container {
    max-width: 1430px;
    margin: 0 auto;
  }
}

footer.footer .footer-top .social-icons {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  footer.footer .footer-top .social-icons {
    width: auto;
    text-align: left;
  }
}

footer.footer .footer-top .social-icons li {
  display: inline-block;
  padding: 1rem 0;
}

footer.footer .footer-top .social-icons a {
  color: #bbbbbd;
  display: block;
  margin: 2px;
}

footer.footer .footer-top .social-icons a:hover {
  color: #FFF;
}

footer.footer .footer-top .footer-contact {
  color: #bbbbbd;
  padding: 1rem 0;
  font-size: 1rem;
  width: 100%;
}

@media (min-width: 768px) {
  footer.footer .footer-top .footer-contact {
    width: auto;
  }
}

footer.footer .footer-top .footer-contact p {
  margin-bottom: 0.125rem;
  text-align: center;
}

@media (min-width: 768px) {
  footer.footer .footer-top .footer-contact p {
    text-align: right;
  }
}

footer.footer .footer-top .footer-contact a {
  color: #FFF;
  font-weight: 400;
}

footer.footer .footer-top .footer-contact a:hover {
  color: #bbbbbd;
}

footer.footer .footer-bottom {
  padding: 30px;
  text-align: center;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  footer.footer .footer-bottom {
    max-width: 1430px;
    margin: 0 auto;
  }
}

footer.footer .footer-bottom p {
  margin-bottom: 0.125rem;
}

.site-container {
  position: relative;
  z-index: 10;
}

section.page {
  padding: 0 30px;
}

section.page .content {
  max-width: 1430px;
  margin: 0 auto;
  padding: 100px 0;
}

section.page h2 {
  margin-bottom: 1rem;
}

section.page .section-description {
  font-size: 1.25rem;
  max-width: 800px;
  margin-bottom: 2rem;
}

.color-swatches {
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  .color-swatches {
    grid-template-columns: repeat(3, 1fr);
  }
}

.color-swatch {
  min-height: 100px;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  font-size: 1rem;
  padding: 15px;
  border: 5px solid #FFF;
  color: #FFF;
  background-color: #eee;
}

.color-swatch.swatch1 {
  background-color: #4cb848;
}

.color-swatch.swatch2 {
  background-color: #82cd7f;
}

.color-swatch.swatch3 {
  background-color: #358132;
}

.color-swatch.swatch4 {
  background-color: #4759a7;
}

.color-swatch.swatch5 {
  background-color: #7685c5;
}

.color-swatch.swatch6 {
  background-color: #303c71;
}

.color-swatch.swatch7 {
  background-color: #f86c6b;
}

.color-swatch.swatch8 {
  background-color: #bbbbbd;
}

.color-swatch.swatch9 {
  background-color: #707071;
}

.details {
  color: #bbbbbd;
}

#home,
#portfolio-home {
  background: #303c71 no-repeat center center fixed;
  background-size: cover;
  background-image: url(/img/intro-wallpaper.jpg);
  background-image: -webkit-image-set(url(/img/intro-wallpaper.jpg) 1x, url(/img/intro-wallpaper@2x.jpg) 2x);
  background-image: image-set(url(/img/intro-wallpaper.jpg) 1x, url(/img/intro-wallpaper@2x.jpg) 2x);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .content,
#portfolio-home .content {
  text-align: center;
}

#home h1.slogan,
#portfolio-home h1.slogan {
  color: #FFF;
  font-size: 1.875rem;
  line-height: normal;
  margin-bottom: 1.875rem;
}

@media (min-width: 576px) {
  #home h1.slogan,
  #portfolio-home h1.slogan {
    font-size: 3.125rem;
  }
}

#portfolio-home {
  min-height: 300px;
}

.portfolio-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .portfolio-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

.portfolio-thumbnail {
  border: 1px solid #4759a7;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (prefers-reduced-motion: reduce) {
  .portfolio-thumbnail {
    -webkit-transition: none;
    transition: none;
  }
}

.portfolio-thumbnail div.client-img {
  overflow: hidden;
  position: relative;
}

.portfolio-thumbnail div.client-img img {
  display: block;
  max-width: 101%;
  width: 101%;
  height: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
  .portfolio-thumbnail div.client-img img {
    -webkit-transition: none;
    transition: none;
  }
}

.portfolio-thumbnail div.client-img .hover-img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.portfolio-thumbnail div.info {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio-thumbnail div.info .client-name {
  font-size: 1rem;
  line-height: 1.3;
  color: #252525;
  margin-bottom: .5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.portfolio-thumbnail div.info .client-location {
  font-size: 0.875rem;
  color: #707071;
}

.portfolio-thumbnail:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.portfolio-thumbnail:hover div.client-img .main-img {
  opacity: 0;
  visibility: hidden;
}

.portfolio-thumbnail:hover div.client-img .hover-img {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.portfolio-item-page .header-img {
  margin-bottom: 2rem;
}

.portfolio-item-page img {
  max-width: 100%;
  height: auto;
}

.portfolio-item-page .portfolio-item-grid {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .portfolio-item-page .portfolio-item-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .portfolio-item-page .portfolio-item-grid .testimonial-container {
    grid-column: span 2;
    max-width: 800px;
  }
}

@media (min-width: 768px) {
  .portfolio-item-page .portfolio-item-grid > div:last-child:nth-child(odd) {
    position: relative;
    left: 26%;
  }
}

.portfolio-item-page .portfolio-testimonial-grid {
  display: grid;
  grid-gap: 2rem;
  margin-bottom: 2rem;
  /*> div:first-child {
            grid-column: span 2;
        }*/
}

@media (min-width: 768px) {
  .portfolio-item-page .portfolio-testimonial-grid {
    grid-template-columns: 2fr 1fr;
  }
}

.portfolio-item-page .portfolio-img {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.portfolio-item-page .portfolio-img.portfolio-browser {
  border-radius: 5px;
}

@media (min-width: 768px) {
  .portfolio-item-page .color-swatches {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .portfolio-item-page .color-swatches {
    grid-template-columns: repeat(3, 1fr);
  }
}

body.portfolio-vicksburg-family-dentistry .color-swatch.swatch1 {
  background-color: #555555;
}

body.portfolio-vicksburg-family-dentistry .color-swatch.swatch2 {
  background-color: #006DB0;
}

body.portfolio-vicksburg-family-dentistry .color-swatch.swatch3 {
  background-color: #000E16;
}

body.portfolio-vicksburg-family-dentistry .color-swatch.swatch4 {
  background-color: #009EFF;
}

body.portfolio-vicksburg-family-dentistry .color-swatch.swatch4 {
  background-color: #009EFF;
}

body.portfolio-vicksburg-family-dentistry .color-swatch.swatch6 {
  background-color: #0AB1C7;
}

body.portfolio-nuview-nutrition .color-swatch.swatch1 {
  background-color: #ed1c24;
}

body.portfolio-nuview-nutrition .color-swatch.swatch2 {
  background-color: #f36368;
}

body.portfolio-nuview-nutrition .color-swatch.swatch3 {
  background-color: #af0e14;
}

body.portfolio-nuview-nutrition .color-swatch.swatch4 {
  background-color: #0bb957;
}

body.portfolio-nuview-nutrition .color-swatch.swatch5 {
  background-color: #1ff27b;
}

body.portfolio-nuview-nutrition .color-swatch.swatch6 {
  background-color: #077135;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch1 {
  background-color: #005a2c;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch2 {
  background-color: #00a651;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch3 {
  background-color: #000e07;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch4 {
  background-color: #ffcb05;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch5 {
  background-color: #ffdb52;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch6 {
  background-color: #b89100;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch7 {
  background-color: #647b97;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch8 {
  background-color: #91a2b6;
}

body.portfolio-four-green-fields-farm .color-swatch.swatch9 {
  background-color: #465669;
}

body.portfolio-habitat-for-humanity-of-oakland-county .color-swatch.swatch1 {
  background-color: #005596;
}

body.portfolio-habitat-for-humanity-of-oakland-county .color-swatch.swatch2 {
  background-color: #51b948;
}

body.portfolio-habitat-for-humanity-of-oakland-county .color-swatch.swatch3 {
  background-color: #8b8c84;
}

body.portfolio-habitat-for-humanity-of-oakland-county .color-swatch.swatch4 {
  background-color: #8fc3e9;
}

body.portfolio-habitat-for-humanity-of-oakland-county .color-swatch.swatch5 {
  background-color: #007cb1;
}

body.portfolio-christ-lutheran-church-of-waterford .color-swatch.swatch1 {
  background-color: #003366;
}

body.portfolio-christ-lutheran-church-of-waterford .color-swatch.swatch2 {
  background-color: #00a99d;
}

body.portfolio-christ-lutheran-church-of-waterford .color-swatch.swatch3 {
  background-color: #8b8c84;
}

body.portfolio-christ-lutheran-church-of-waterford .color-swatch.swatch4 {
  background-color: #00746b;
}

body.portfolio-christ-lutheran-church-of-waterford .color-swatch.swatch5 {
  background-color: #1cbbb4;
}

body.portfolio-christ-lutheran-church-of-waterford .color-swatch.swatch6 {
  background-color: #252525;
}

body.portfolio-clarkston-area-chamber-of-commerce .color-swatch.swatch1 {
  background-color: #00529e;
}

body.portfolio-clarkston-area-chamber-of-commerce .color-swatch.swatch2 {
  background-color: #d46e2f;
}

body.portfolio-clarkston-area-chamber-of-commerce .color-swatch.swatch3 {
  background-color: #111111;
}

body.portfolio-facials-by-jude .color-swatch.swatch1 {
  background-color: #8a175a;
}

body.portfolio-facials-by-jude .color-swatch.swatch2 {
  background-color: #ffccff;
}

body.portfolio-facials-by-jude .color-swatch.swatch3 {
  background-color: #4f7e12;
}

body.portfolio-facials-by-jude .color-swatch.swatch4 {
  background-color: #990033;
}

body.portfolio-facials-by-jude .color-swatch.swatch5 {
  background-color: #5e3e4a;
}

body.portfolio-facials-by-jude .color-swatch.swatch6 {
  background-color: #252525;
}

section#services {
  color: #FFF;
  background: url(/img/services-container-bg.jpg) #303c71 no-repeat center center fixed;
  background-size: cover;
}

section#services h2 {
  color: #FFF;
}

.services-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -1rem;
}

.services-grid > a {
  color: #FFF;
  display: block;
  margin: 0 1rem 2rem 1rem;
  width: 41%;
  max-width: 41%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  white-space: normal;
  padding: 1rem;
}

@media (min-width: 768px) {
  .services-grid > a {
    width: 30%;
    max-width: 30%;
  }
}

@media (min-width: 992px) {
  .services-grid > a {
    max-width: 16%;
    max-width: 16%;
  }
}

.services-grid > a svg {
  display: block;
  max-width: 100%;
  height: auto;
  fill: #FFF;
  margin-bottom: 1rem;
}

.services-grid > a h3 {
  font-size: 1rem;
  margin: 0;
}

.service-page .service-grid {
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 992px) {
  .service-page .service-grid {
    grid-template-columns: 70% 1fr;
  }
}

@media (min-width: 992px) {
  .service-page .service-grid > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-column: 1;
    grid-row: 1;
  }
}

.service-page svg {
  display: block;
  margin: 0 auto 1rem auto;
  height: auto;
  fill: #4cb848;
  max-width: 300px;
}

section#about .about-grid {
  display: grid;
  grid-gap: 2rem;
}

@media (min-width: 576px) {
  section#about .about-grid {
    grid-template-columns: 24% 1fr;
  }
}

section#about .about-grid .me-pic {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 2px solid #4759a7;
}

section#contact {
  color: #FFF;
  background: url(/img/contact-container-bg.jpg) #303c71 no-repeat center center fixed;
  background-size: cover;
}

section#contact h2 {
  color: #FFF;
}

section#contact [v-cloak] {
  display: none;
}

section#contact .contact-grid {
  display: grid;
  grid-gap: 2rem;
}

@media (min-width: 768px) {
  section#contact .contact-grid {
    grid-template-columns: 60% 1fr;
  }
}

section#contact .form-group-submit {
  margin-top: 1rem;
}

section#contact .contact-info {
  padding-top: 29px;
}

section#contact .contact-info p {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 992px) {
  section#contact .contact-info p {
    font-size: 1.5625rem;
  }
}

section#contact .contact-info p a:not(.btn) {
  display: inline-block;
  padding: 0 .5rem;
  color: #FFF;
  font-weight: 400;
}

section#contact .contact-info p a:not(.btn):hover {
  color: #82cd7f;
}

body.home-style .page > .content > .container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-gap: 30px;
}

@media (min-width: 768px) {
  body.home-style .page > .content > .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  body.home-style .page > .content > .container > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 3;
  }
}

body.home-style .dark-background {
  background: url(/img/contact-container-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 1rem;
}

body.home-style .dark-background h1,
body.home-style .dark-background label {
  color: #FFF;
}

body.home-style .grid-2 {
  display: grid;
  grid-gap: 0 30px;
}

@media (min-width: 768px) {
  body.home-style .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  body.home-style .grid-2 > div {
    width: 100%;
    grid-column: span 1;
  }
}

