// Footer
.footer {
    .footer-top {
        background-color: $black;
        .container-fluid {
            @include media-breakpoint-up(sm) {
                max-width: 1360px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        ul li a {
            display: block;
            padding: 7px 5px;
            margin: 20px 5px;
            line-height: 35px;
        }
        .social-icons {
            text-align: center;
            @include media-breakpoint-up(sm) {
                text-align: left;
            }
            .list-inline > li {
                @extend .list-inline-item;
                padding: 0;
                margin: 0;
                font-size: 30px;
                a {
                    color: $gray-600;
                    &:hover {
                    color: #FFF;
                    }
                }
                .flaticon {
                    top: 0;
                }
            }
        }
        .footer-contact {
            padding-top: 25px;
            color: $gray-600;
            font-weight: $font-regular;
            a {
                color: #FFF;
                font-weight: $font-bold;
            }
            p {
                text-align: center;
                margin-bottom: 15px;
                @include media-breakpoint-up(sm) {
                    text-align: right;
                    margin-bottom: 0;
                }
            }
            @include media-breakpoint-up(sm) {
                text-align: right;
            }
        }
    }
    .footer-bottom {
        color: #333;
        font-size: 12px;
        padding: 20px;
        text-align: center;
        p {
            margin-bottom: 1px;
        }
    }
}
